<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/intro">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="warm-theme">
  <figure class="ion-text-center">
    <ion-avatar class="center-avatar">
      <img src="../../assets/images/user.jpg" alt="logo" class="logo">
    </ion-avatar>
  </figure> 
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" placeholder="Email" formControlName="email"></ion-input>
      <ion-input label="Password" labelPlacement="floating" placeholder="Password" formControlName="password" type="password"></ion-input>
    </ion-item>
    <div class="validation-message">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div *ngIf="
        (loginForm.get('email')?.hasError(validation.type) && 
        loginForm.get('email')?.dirty)
        ">{{validation.message}}</div>
      </ng-container>
    </div>
    <!-- Crear campo password -->
    <div class="validation-message">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div *ngIf="
        (loginForm.get('password')?.hasError(validation.type) && 
        loginForm.get('password')?.dirty)
        ">{{validation.message}}</div>
      </ng-container>
    </div>
    <!-- Crear validaciones en pantalla -->
    <ion-button 
    type="submit" 
    [disabled]="!loginForm.valid"
    color="success"
    shape="round"
    expand="full"
    >Login</ion-button>
  </form>
  <div class="validation-message">
    {{loginMessage}}
  </div>
 <!-- Texto para registrarse -->
 <p class="ion-text-center">Si no tienes una cuenta, puedes <a [routerLink]="'/register'">registrarte aquí</a>.</p>
</ion-content>
