<ion-content [fullscreen]="true" class="warm-theme">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <swiper-container
  [loop]="true"
  [pagination]="true"
  [effect]="'coverflow'"
  [coverflowEffect]="{
    'rotate': 40,
    'slideShadows': true
  }"
  >
  <swiper-slide *ngFor="let slide of slides; let i = index">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{slide.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class={{slide.class}} [innerHTML]="slide.description"></p>
        <img src={{slide.image}}/>
        <p [innerHTML]="slide.help_text"></p>
        <ion-button *ngIf="i == 3" [routerLink]="'/login'">Entrar</ion-button>
      </ion-card-content>
    </ion-card>
  </swiper-slide>
</swiper-container>
</ion-content>
