swiper-container {
    width: 100%;
    height: 100%;
    --swiper-pagination-color:orange !important;
  }
   
  swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .avatar-slide {
    --border-radius: 0px;
  }

  ion-card {
    background-color: #dd3434; /* Melocotón */
}

  .warm-theme {
    --ion-background-color: #cd0404; /* Tomate */
    --ion-color-primary: #e12020; /* Luz de salmón */
    --ion-color-secondary: #FFD700; /* Oro */
    --ion-color-tertiary: #98FB98; /* Pasto pálido */
    --ion-color-success: #FFA500; /* Naranja */
    --ion-color-warning: #FF4500; /* Rojo naranja */
    --ion-color-danger: #8B4513; /* Marrón de montura */
    --ion-color-dark: #F4A460; /* Arena marrón */
    --ion-color-medium: #FFEFD5; /* Batido de papaya */
    --ion-color-light: #FFE4B5; /* Mocasín */
    --ion-toolbar-background: #FFA07A; /* Luz de salmón */
    --ion-toolbar-color: #FFFFFF; /* Blanco */
}