#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

p{
  color: #ffffff;  
}

.warm-theme {
  --ion-background-color: #cd0404; /* Tomate */
  --ion-color-primary: #e12020; /* Luz de salmón */
  --ion-color-secondary: #FFD700; /* Oro */
  --ion-color-tertiary: #98FB98; /* Pasto pálido */
  --ion-color-success: #FFA500; /* Naranja */
  --ion-color-warning: #FF4500; /* Rojo naranja */
  --ion-color-danger: #8B4513; /* Marrón de montura */
  --ion-color-dark: #F4A460; /* Arena marrón */
  --ion-color-medium: #FFEFD5; /* Batido de papaya */
  --ion-color-light: #FFE4B5; /* Mocasín */
  --ion-toolbar-background: #FFA07A; /* Luz de salmón */
  --ion-toolbar-color: #FFFFFF; /* Blanco */
}